:root{
  --brand-blue: #2b50aa;
  --brand-white: #F8F4F9;
  --brand-red: #e71d36;
  --black: #151515;
  --gray: #cdd3ce;
  --accent-blue: #53917e;
} 

.sr-only{
  display: none;
}

*{
  margin: 0;
  padding: 0;
}


body {
  font-size: 125%;
  min-width: 375px;
  font-family: 'Inconsolata', monospace;
  background-color: var(--gray);
  color: var(--black);
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.gameContainer{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Typography */

li {
  list-style: none;
}


h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
}

h1 span{
  color: var(--brand-blue);
  text-decoration: none;
  margin: 2% 0;
  display: block
}

.playerInformation span {
  display: block;
  margin: 5px;
  font-weight: bold;
  text-decoration: underline;
}

em {
  color: var(--brand-red);
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  margin: 20px 0;
  border-bottom: 2px solid var(--black);
  padding-bottom: 8px;
  text-align: center;
}

h3{
  font-size: 1.5rem;
  text-align: center;
}


h4{
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
}

h5 {
  font-size: 1rem;
  text-align: center;
}

.totalContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Header Styles */

.menu a{
  height: 5vh;
  background-image: linear-gradient(233deg, var(--brand-red), var(--brand-blue));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--brand-white);
  text-align: center;
  font-weight: bold;
}

.instructions{
  display: flex;
}

.welcomeContainer{
  width: 50%;
  height: 650px;
  background-image: url(./assets/InstructionBackground1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logoContainer{
  width: 150px;
  height: 150px;
  background-image: url(./assets/IffLogo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.logoSloganContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

/* instruction styles */

.list li{
  margin-top: 2px;
}

.rulesContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}

.draftYearForm{
  display: flex;
  flex-direction: column;
}

input{
  height: 1.5rem;
  text-align: center;
  margin: 5px 0;
  background-image: linear-gradient(11deg, var(--brand-red), var(--brand-blue));
  color: var(--brand-white);
  border: 2px solid var(--black)
}

/* IFFGame styles */

.iffGame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
  height: fit-content;
  margin-bottom: 10px;
}

.tipsContainer p{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}


/* Player display styles */

.playerDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.playerDisplay div {
  width: 45%;
  display: flex;
  flex-direction: column;
  color: var(--brand-white);
}

button{
  width: 100%;
  border: 2px solid var(--black);
  font-size: 1.3rem;
  padding: 5px;
  align-self: end;
  background-image: linear-gradient(250deg, var(--accent-blue), var(--brand-blue));
  color: var(--brand-white)
}

button:hover{
  transition-timing-function: linear;
  transition: all 0.2s;
  transform: scale(1.05);
}

.playerOne .playerInformation{
  background-color: var(--brand-blue);
}

.playerTwo .playerInformation {
  background-color: var(--brand-red);
}


/* Stats Styles */

.playerInformation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  height: fit-content;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.statsContainer p {
  margin: 5px 15px;
  font-size: 1.7rem;
  max-width: 75px;
}

/* footer style */

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background-image: linear-gradient(290deg, var(--brand-red), var(--brand-blue));
}

.footer a {
  color: var(--brand-white);

}

@media (max-width:750px){
  .welcomeContainer{
    display: none;
  }

  .rulesContainer{
    font-size:smaller;
  }

  .tipsContainer {
    font-size: smaller;
  }
}

@media (max-width:450px) {
  h1{
    font-size: 1rem;
  }

  .rulesContainer li{
    font-size: 1rem;
    margin: 2%;
  }

  .menu a{
    font-size: 1rem;
  }

  .footer{
    justify-content: center;
  }

  .footer a{
    margin: 0 5px;
  }

  .footer span{
    display: none;
  }

  .instructions{
    height: 700px;
  }

  .tipsContainer{
    font-size: smaller;
  }
}