:root{
  --brand-blue: #2b50aa;
  --brand-white: #F8F4F9;
  --brand-red: #e71d36;
  --black: #151515;
  --gray: #cdd3ce;
  --accent-blue: #53917e;
} 

*{
  margin: 0;
  padding: 0;
}

body {
  font-size: 125%;
  font-family: 'Inconsolata', monospace;
  background-color: var(--gray);
  color: var(--black);
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

/* Typography */

li {
  list-style: none;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7rem;
  line-height: 1.5rem;
  color: var(--brand-red);
  max-width: 800px;
  margin: 4% 7.5%;
  font-weight: bold;
}

h1 span{
  color: var(--brand-blue);
  text-decoration: none;
  margin: 2% 0;
}

span {
  display: block;
  margin: 5px;
  font-weight: bold;
  text-decoration: underline;
}

em {
  color: var(--brand-blue);
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  margin: 20px 0;
  border-bottom: 2px solid var(--black);
  padding-bottom: 8px;
  text-align: center;
}

h3{
  font-size: 1.5rem;
  text-align: center;
}


h4{
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
}

h5 {
  font-size: 1rem;
  text-align: center;
}

/* Header Styles */

.menu {
  height: 7vh;
  background-image: linear-gradient(33deg, var(--brand-red), var(--brand-blue));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
color: var(--brand-white);
}

/* instruction styles */

.rulesList {
  margin: 2%;
}

.whenToPlay {
  margin: 2%;
}


/* Player display styles */

.playerDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.playerDisplay div {
  width: 45%;
  display: flex;
  flex-direction: column;
  color: var(--brand-white);
}

.draftedPlayer button{
  width: 100%;
  border: 1px solid var(--black);
  font-size: 1.3rem;
  padding: 5px;
  align-self: end;
  background-image: linear-gradient(33deg, var(--brand-red), var(--brand-blue));
  color: var(--brand-white)
}

.playerOne{
  background-color: var(--brand-blue);
}

.playerTwo{
  background-color: var(--brand-red);
}

/* Stats Styles */

.playerInformation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  height: fit-content;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.statsContainer p {
  margin: 5px 15px;
  font-size: 1.7rem;
  max-width: 75px;
}

/* footer style */

.footer{
  display: flex;
  justify-content: center;
  align-content: center;
}