:root{
  --brand-blue: #2b50aa;
  --brand-white: #F8F4F9;
  --brand-red: #e71d36;
  --black: #151515;
  --gray: #cdd3ce;
} 

body {
  font-size: 125%;
  font-family: 'Inconsolata', monospace;
  background-color: var(--gray);
  color: var(--black);
}

/* Typography */

li {
  list-style: none;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--brand-red)
}

em {
  color: var(--brand-blue)
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.2rem;
  font-weight: lighter;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

